body{
    background-image: url(/img/BGSeguimiento.png);
}

#contenedorMensajeDeError{
    display: none;
    position: absolute;
    width: 100%;
    top: calc(50% - 30px);
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    align-items: center;
    font-size: 30px;
}

label{
    font-weight: bold;
}